.items {
    border-radius: 11px;
    background: #26b585;
    box-shadow:  5px 5px 6px #22a176, 
                -5px -5px 6px #2ac994;
    border: none;            
    margin-bottom: 20px;
    padding: 20px;
}